
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
.coverage
db.sqlite3
__pycache__
__pycache__/
Pipfile.lock
htmlcov/
.idea/
venv/
/id_rsa
/id_rsa.pub
staticfiles/
